html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

.scene {
  width: 100%;
  height: 100vh;
}

.scene_one {
  padding-top: 15rem;
  position: relative;
  background: linear-gradient(
    0deg,
    #00548c 0%,
    #004887 13.59%,
    #00297a 37.94%,
    #002478 41.47%,
    #001356 59.33%,
    #000233 75.99%,
    #000114 100%
  );
  color: white;
}

.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scene_one h1 {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
  display: inline-block;

  &::after,
  &::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    left: 0;
    background-color: #fff;
  }
  &::after {
    bottom: 0rem;
  }
  &::before {
    top: 0rem;
  }
}

.scene_one h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

#stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mouse {
  margin-top: 6rem;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.scene_two {
  height: 200vh;
}

.scene_two {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(
    0deg,
    #6c9bf6 0%,
    #5d91e8 10.82%,
    #2b70b6 51.75%,
    #0c5c98 82.75%,
    #00548c 100%
  );

  & img {
    position: absolute;
  }

  .cloud6 {
    top: 2rem;
    right: 20%;
    width: 15%;
  }

  .cloud3 {
    right: 0;
    top: 8rem;
    width: 25%;
  }

  .cloud4 {
    left: 0;
    top: 14rem;
    width: 50%;
  }

  .cloud1 {
    top: 20rem;
    right: 16%;
    width: 20%;
  }

  .cloud2 {
    left: 30%;
    top: 24rem;
    width: 15%;
  }

  .cloud7 {
    left: 0;
    top: 28rem;
    width: 25%;
  }

  .cloud8 {
    right: 0;
    top: 32rem;
    width: 60%;
  }
}

.sky {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    #9ff1e4 0%,
    #93e6e8 17.47%,
    #74c9f2 48.78%,
    #71c6f3 51.55%,
    #6c9bf6 100%
  );

  & img {
    position: absolute;
  }

  .cloud8 {
    right: 0;
    bottom: 22rem;
    width: 55%;
    opacity: 60%;
  }

  .cloud7 {
    left: 0;
    bottom: 20rem;
    width: 25%;
    opacity: 60%;
  }

  .mountain1 {
    height: 10rem;
    left: 50%;
  }
  .mountain2 {
    height: 9rem;
  }

  .mountain1,
  .mountain2 {
    bottom: 0;
  }
}

#parallax-container {
  display: flex;
  width: 1000%;
}

.ground2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 13%;
  background: #a09b42;
}

.city,
.shore {
  height: 100vh;
  position: relative;
  background: linear-gradient(
    0deg,
    #9ff1e4 0%,
    #93e6e8 17.47%,
    #74c9f2 48.78%,
    #71c6f3 51.55%,
    #6c9bf6 100%
  );
}

.sea_bg {
  position: absolute;
  bottom: 0rem;
  height: 26%;
  width: 100%;
  background: linear-gradient(180deg, #71a7f4 5.55%, #5981ff 87.36%);
}

.text {
  opacity: 0;
  position: absolute;
  color: white;
  font-size: 1.5rem;
  font-family: Cormorant;
  font-style: normal;
  font-weight: bold;
  line-height: 31px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.city {
  width: 300%;
  .cloud8 {
    right: 0;
    top: 20%;
    width: 55vw;
    opacity: 90%;
    position: absolute;
  }

  .cloud7 {
    left: 0;
    top: 25%;
    width: 25vw;
    opacity: 90%;
    position: absolute;
  }

  .house1 {
    z-index: 4;
    left: 16rem;
    height: 18%;
    width: 70%;
  }

  .house2 {
    z-index: 3;
    height: 25%;
    width: 90%;
  }

  .house1,
  .house2 {
    position: absolute;
    bottom: 13%;
  }

  .rocks {
    position: absolute;
    bottom: 0;
    z-index: 7;
    height: 40%;
    left: 10%;
  }

  .mountain1 {
    height: 25%;
    left: 20%;
  }
  .mountain2 {
    height: 30%;
  }

  .mountain1,
  .mountain2 {
    bottom: 13%;
    position: absolute;
    width: 100%;
  }
  & .text {
    left: 30%;
    top: 18%;
    width: 35rem;
  }

  .andromeda {
    position: absolute;
    left: 40%;
    bottom: -25%;
    height: 80%;
    width: auto;
    z-index: 8;
  }

  .parents {
    position: absolute;
    left: 45%;
    bottom: 3rem;
    z-index: 6;
    height: 50%;

    & .cassiopea,
    & .cefeo {
      height: 100%;
    }
  }
}

.shore {
  position: relative;
  width: 400%;
  .ground {
    height: 13%;
    width: auto;
    bottom: 0;
  }
  .sea_bg {
    height: 26%;
    bottom: 0;
  }

  #text2 {
    left: 6rem;
    top: 20%;
    width: 50%;
    max-width: 38rem;
  }

  img {
    position: absolute;
  }

  .rocks2 {
    height: 9%;
    bottom: 10%;

    &.rock_1 {
      left: 16%;
    }

    &.rock_2 {
      left: 40%;
    }

    &.rock_3 {
      left: 76%;
    }
  }

  .rocks3 {
    height: 15%;
    bottom: 18%;

    &.rock_1 {
      left: 6%;
    }

    &.rock_2 {
      left: 60%;
    }

    &.rock_3 {
      left: 85%;
    }
  }

  .rocks4 {
    height: 4%;
    bottom: 24%;

    &.rock_1 {
      left: 20%;
    }

    &.rock_2 {
      left: 46%;
    }

    &.rock_3 {
      left: 82%;
    }
  }

  .rocks1 {
    left: 50%;
    height: 50%;
    bottom: -2rem;
  }

  .nereida1 {
    width: 5rem;
    bottom: 12%;
    left: 12%;
  }

  .nereida2 {
    width: 3rem;
    bottom: 18%;
    left: 14%;
  }

  .nereida3 {
    width: 2rem;
    bottom: 22%;
    left: 11.5%;
  }

  .rain {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }

  .cetus {
    height: 45%;
    left: 36%;
    bottom: -10%;
  }

  .perseo {
    left: 56%;
    top: 25%;
    height: 45%;
  }

  #text3 {
    left: 35%;
    top: 20%;
    width: 40vw;
    position: absolute;
  }

  #text4 {
    left: 61.5%;
    top: 20%;
    width: 40vw;
    position: absolute;
  }
}

.shore_2 {
  position: relative;
  width: 200%;
  background: linear-gradient(
    0deg,
    #9ff1e4 0%,
    #93e6e8 17.47%,
    #74c9f2 48.78%,
    #71c6f3 51.55%,
    #6c9bf6 100%
  );

  img {
    position: absolute;
  }

  .ground {
    width: auto;
    height: 13%;
    bottom: 0;
    right: 50%;
  }

  .ground2 {
    width: 50%;
    left: 50%;
  }

  .sea_bg {
    height: 26%;
    bottom: 0;
  }
  .couple {
    position: absolute;
    height: 70vh;
    bottom: -10%;
    left: 40%;
    display: flex;
  }

  .perseo,
  .andromeda {
    position: static;
    height: 100%;
  }
  .perseo {
    margin-left: -1.5rem;
  }

  #text5 {
    width: 20%;
    left: 25%;
    top: 15%;
  }

  .sky {
    position: absolute;
    width: 100%;
    height: 200%;
    bottom: 100%;
    left: 0;
    .start {
      width: 100%;
      height: 50%;
      background: linear-gradient(
        0deg,
        #6c9bf6 0%,
        #5d91e8 10.82%,
        #2b70b6 51.75%,
        #0c5c98 82.75%,
        #00548c 100%
      );
    }

    .end {
      width: 100%;
      height: 50%;
      background: linear-gradient(
        0deg,
        #00548c 0%,
        #004887 13.59%,
        #00297a 37.94%,
        #002478 41.47%,
        #001356 59.33%,
        #000233 75.99%,
        #000114 100%
      );

      .content {
        width: 50%;
        height: 100%;
        margin-left: 50%;
        background-image: url("./assets/img/scene1/E1_Estrellas.svg");
        position: relative;

        #text6 {
          width: 35%;
          top: 20%;
          left: 15%;
        }

        .const_cefeo {
          width: 8%;
          height: 20%;
          right: 10%;
          top: 8%;
        }

        .const_andromeda {
          width: 14%;
          height: 14%;
          right: 16%;
          top: 46%;
        }

        .const_cassio {
          width: 8%;
          height: 13%;
          right: 40%;
          top: 23%;
        }

        .const_cetus {
          width: 20%;
          height: 40%;
          right: 28%;
          top: 51%;
        }

        .const_perseo {
          width: 9%;
          height: 28%;
          right: 65%;
          top: 36%;
        }
      }
    }
  }

  .rocks4 {
    height: 4%;
    bottom: 24%;

    &.rock_4 {
      left: 0;
    }
  }

  .rocks3 {
    height: 15%;
    bottom: 18%;

    &.rock_4 {
      left: 22.5%;
    }
  }

  .rocks2 {
    height: 9%;
    bottom: 10%;

    &.rock_4 {
      left: 12.5%;
    }
  }
}
